.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-div {
  background-color: aquamarine;
  padding: 40px;
  margin: 20px;
  width: 400px;
  height: 600px;
}

.user-table {
  width: 100%;
  text-align: center;
  border: 2px solid white;
}

/* .user-table-cell {
  border: 2px solid white;
} */

.form-group {
  padding: 20px 15px 20px 15px;
}

.form-control {
}
